# ----------------
# GENERAL SETTINGS
# ----------------

# bot prefix
prefix = '!'

# -------------
# COG SETTINGS
# -------------

# Core Cog
core_config = {
    'custom_status': ''
}

# DefaultRole Cog
default_role_config = {
    'role': 'member'
}

# ---------------
# COG TOGGLES
# ---------------
features = {
    'ping': True,
    'default_role': True,
    'palindrome': True
}
