# ----------------
# GENERAL SETTINGS
# ----------------

# bot prefix
prefix = '!'

# -------------
# COG SETTINGS
# -------------

# DefaultRole Cog
default_role = 'member'

# ---------------
# COG TOGGLES
# ---------------
features = {
    'ping': True,
    'default_role': True,
    'palindrome': True
}