# ----------------
# GENERAL SETTINGS
# ----------------

# bot prefix
prefix = '!'

# -------------
# ROLE SETTINGS
# -------------

default_role = 'member'

# ---------------
# FEATURE TOGGLES
# ---------------
